body{
  height: 70vh;
  margin: 0;
  padding: 0;
 background-color:black;
}
h1{
    color: greenyellow;
    font-size: 40px;
    font-family: cursive;
}
.container{
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30vh;
   
}
.timerDisplay{
    color: white;
    font-size: 50px;
   
    margin-bottom: 30px;
   
}
.buttons{
    margin: 20px;
    
}
#start{
    color: red;
    font-size: 50px;
    border: 1px solid rgb(238, 15, 152);
    border-radius:20px ;
    margin: 0px 10px 0px 10px;
    cursor: pointer;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#reset{
    color: red;
    font-size: 50px;
    border: 1px solid rgb(238, 15, 152);
    border-radius:20px ;
    margin: 0px 10px 0px 10px;
    cursor: pointer;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#pause{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    cursor: pointer;
    color: red;
    font-size: 50px;
    border: 1px solid rgb(238, 15, 152);
    border-radius:20px ;
    margin: 0px 10px 0px 10px;
}
#start:hover{
   background-color: rgb(22, 5, 5);
   box-shadow: 5px 1px 50px rgb(12, 221, 221);
}
#reset:hover{
    background-color: rgb(22, 5, 5);
    box-shadow:  5px 1px 50px rgb(12, 221, 221);
}
#pause:hover{
    background-color: rgb(22, 5, 5);
    box-shadow:  5px 1px 50px rgb(12, 221, 221);
}